.grid-col--2 {
    display: block;
  }

  .ninet-story {
    max-width: 60vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5%;
  }
  
  //---------------- BOXER STORY FADE IN -------------//  
  .story-heading img {
    max-width: 40vw;
    margin: 0 auto;
  }

  .item {
    h1 {
      font-size: 7rem;
    }
  }

  .item-1 {
    h1 {
      font-size: 9rem;
    }
  }