.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px !important;/**/
}

.item-1 {
  /* First item will always remain fixed */
  position: fixed;
  top: 0;
}

.item-2 {
  /* Second Item will have a marginTop equal to first section height */
  margin-top: 750px;
}


/* ============== End ===================== */


/* These all are just meant for styling the page */



a {
  text-decoration: none;
}


* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .8);
}


body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1 h2 h3 {
  font-weight: 700;
}
p {
  font-weight: 300;
}
h1 {
  font-size: 5rem;
  padding-left: 0 !important;
}
h2 {
  font-size: 2.5rem;
}

.item {
  overflow-x: hidden;
  width: 100vw;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
  }
}

.item-1 {
  background-image: url("../assets/hero_images_compressed/german_alps_fade.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  // height: 100vh;
  z-index: -5;
  h1 {
    // padding-left: 5%;
    margin-top: 0;
    padding-top: 15vh;
    line-height: 8rem;
    margin-bottom: 2rem;
    font-size: 8rem;
  }
  p {
    padding-left: 2%;
    color: white;
  }
}

.item-2 {
  background-image: url("../assets/hero_images_compressed/classic_1400_compressed.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  z-index: -4;
}

.item-3 {
  z-index: -3;
  background-image: url("../assets/hero_images_compressed/racer_1400_compressed.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.item-4 {
  background-image: url("../assets/hero_images_compressed/scrambler_beach_1400_compressed.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  z-index: -2;
  h1 {
    font-size: 4rem;
  }
}

.item-5 {
  background-color: #444;
  background-image: url("../assets/hero_images_compressed/rninet_5_1400_compressed.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.col-5 {
  max-width: 500px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 18px;
  }
  .fa {
    font-size: 2em !important;
  }
}

.wrapper {
  background-color: white;
  width: 100vw;
  padding-top: 5vh;
}

// ------------------ MASONRY STYLING ------------------------- //
.masonry-container {
  width: 100%;
  background-color: white;
  padding: 5%;
}

.grid {
  display: flex;

  .grid-col{
    flex: 1;
    padding: 0 .1em;
  }

  img {
    width: 100%;
  }

}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0,0,0,.6);
  margin-top: 1em;
  transition: .5s ease;
  opacity: 0;
  h3 {
    margin: .2em .5em;
    font-size: 1em;
    color: white;
  }
}

.grid-item:hover {
  .content {
    opacity: 1;
    width: 7rem;
  }
}


//------------- Video ----------------//
.videoSection {
  padding-top: 5vh;
  width: 94%;
  margin: 0 auto;
  padding-bottom: 5vh;
  video {
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
//------------------------------------//

.left{
  position: fixed;
  left: 0;
}

.upper-right{
  transform: translateY(-25vh);
  right: 2%;
  position: absolute;
}

.lower-right{
  transform: translate(30vw, 20vh);
}

.upper-left{
  transform: translate(-30vw, -20vh);
}


//---------------- NINET STORY FADE/SLIDE IN -------------//
.ninet-story {
  max-width: 86vw;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 5%;
}

.story-heading {
  opacity: 0;
  transform: translate(0px, 50px);
  transition: 1s;
}

.story-heading.story-heading-fade {
  opacity: 1;
  transform: translate(0px, 0px);
}

.story-text {
  opacity: 0;
  transform: translate(0px, 50px);
  transition: 2s;
}

.story-text.story-text-fade {
  opacity: 1 !important;
  transform: translate(0px, 0px);
}

//---------------- BOXER STORY FADE IN -------------//
#center {
  text-align: center;
}

.story-heading img {
  max-width: 70vw;
  margin: 0 auto;
}
